<app-auth-content>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" style="font-weight: bold;">โปรโมชั่น</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
                            <li class="breadcrumb-item active">โปรโมชั่น</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <section class="content">
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title" style="font-weight: bold;">ฟอร์มโปรโมชั่น</h5>

                            <div class="card-tools py-2 mt-1">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="">ชื่อโปรโมชั่น :</label>
                                    <input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="model.title"
                                        class="form-control" placeholder="ชื่อโปรโมชั่น">
                                </div>
                                <div class="form-group">
                                    <label for="">รูปภาพ :</label>
                                    <input type="file" [formControl]="file" accept="image/*" class="form-control"
                                        (change)="fileChange($event)" #inputFile>

                                </div>
                                <div class="form-group">
                                    <label for="">รายละเอียด:</label>
                                    <angular-editor [ngModelOptions]="{standalone:true}"
                                        [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">ประเภทลดราคา</label>
                                            <select [ngModelOptions]="{standalone:true}" [(ngModel)]="model.type"
                                                name="" id="" class="form-control">
                                                <option value="0" selected="selected">โปรโมทสินค้า</option>
                                                <option value="1">ลดทันทีเมื่อซื้อครบ (ชิ้น)</option>
                                                <option value="2">ลดทันทีเมื่อซื้อครบ (บาท)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div *ngIf="model.type>0" class="col-md-3">
                                        <label for="">จำนวน ({{ model.type==1?'ชิ้น':'บาท' }})</label>
                                        <input [ngModelOptions]="{standalone:true}" [(ngModel)]="model.condition"
                                            type="number" class="form-control">
                                    </div>
                                    <div *ngIf="model.type>0" class="col-md-3">
                                        <label for="">ลดราคา (%)</label>
                                        <input [ngModelOptions]="{standalone:true}" [(ngModel)]="model.discount"
                                            type="number" class="form-control">
                                    </div>
                                    <div *ngIf="model.type>0" class="col-md-3">
                                        <label for="">ลดสูงสุดไม่เกิน (บาท)</label>
                                        <input type="number" [ngModelOptions]="{standalone:true}"
                                            [(ngModel)]="model.max_discount" class="form-control" name="" id="">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" (click)="onSubmit()">
                                เพิ่มโปรโมชั่น
                            </button>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <div *ngIf="model.title && htmlContent" class="col-md-5">
                    <h6 style="font-weight: bold;color:dimgray;">ตัวอย่างแบบคร่าว ๆ:</h6>
                    <div style="margin:auto;" class="card-promotion">
                        <div class="row">
                            <div class="col-md-5">
                                <img [src]="model.image" style="width: 100%;object-fit:cover;" alt="">
                            </div>
                            <div class="col-md-7">
                                <div class="card-promo-body">
                                    <h3 class="bold">
                                        {{ model.title }}
                                    </h3>
                                    <h6 style="color:lightgray;">{{ model.dor | date:'dd MMMM yyyy' }}</h6>
                                    <!-- <p [innerHtml]="htmlContent.length>500?htmlContent.substring(0,500)+'...':htmlContent"></p> -->
                                    <p [innerHtml]="htmlContent"></p>
                                    <div *ngIf="model.type>0">
                                        <h5 class="bold">
                                            โปรโมชั่นพิเศษ
                                        </h5>
                                        <ul>
                                            <li>
                                                ลดทันทีเมื่อ {{ model.discount }} % *เมื่อซื้อครบ {{
                                                model.type==1?model.condition:model.condition | number:'1.2-2' }}
                                                {{ model.type==1?'ชิ้น':'บาท' }}
                                            </li>
                                            <li>
                                                {{ model.max_discount==0?'ไม่มีขั้นต่ำ':'สูงสุดไม่เกิน' }} {{
                                                model.max_discount>0?model.max_discount:'' }}
                                                <span *ngIf="model.max_discount>0"> บาท</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title" style="font-weight: bold;">รายการโปรโมชั่น</h5>

                            <div class="card-tools py-2 mt-1">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-wrench"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">Something else here</a>
                                        <a class="dropdown-divider"></a>
                                        <a href="#" class="dropdown-item">Separated link</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>รหัส</th>
                                        <th>รายการ</th>
                                        <th>รายละเอียด</th>
                                        <th>วันหมดอายุ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of item.items;let i = index;">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ data.code }}</td>
                                        <td>{{ data.title }}</td>
                                        <td><span [innerHtml]="data.content.substring(0,100)+'...'"></span></td>
                                        <td>
                                            <span (click)="updateStatus(data._id, data.status)" class="badge {{ data.status==1?'badge-warning':'badge-secondary' }}">
                                                {{ data.status==1?'ใช้งานได้':'หมดอายุ' }}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <pagination [totalItems]="item.total_items" (pageChanged)="pageChanged($event)"
                                [(ngModel)]="option.sp" [itemsPerPage]="2" [maxSize]="5" previousText="ก่อนหน้า"
                                nextText="ถัดไป"></pagination>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
    </div>
</app-auth-content>