<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Kanit', sans-serif !important;
    }
</style>
<app-auth-content>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" style="font-weight: bold;">คำสั่งซื้อ</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
                            <li class="breadcrumb-item active">คำสั่งซื้อ</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-success card-outline">
                        <div class="card-header">
                            <h3 class="card-title" style="font-weight: bold;">เครื่องมือ</h3>

                            <div class="card-tools py-2 mt-1">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-wrench"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">Something else here</a>
                                        <a class="dropdown-divider"></a>
                                        <a href="#" class="dropdown-item">Separated link</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-info" type="button" (click)="onReload()">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span class="visually-hidden mr-1"></span>
                                        โหลดข้อมูลจริง
                                    </button>
                                    <button class="btn btn-secondary ml-3" type="button" (click)="onRandom()">
                                        <span class="spinner-grow spinner-grow-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span class="visually-hidden mr-1"></span>
                                        ข้อมูลสมมติ
                                    </button>
                                </div>
                            </div>
                            <div class="row" *ngIf="data.datasets.length>0">
                                <div class="col-md-8">
                                    <div style="display: block">
                                        <chart [type]="type" class="w-100" legend="true" [data]="data"
                                            [options]="options"></chart>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="display: block">
                                        <chart [type]="type2" class="w-100" legend="true" [data]="data2"
                                            [options]="options"></chart>
                                    </div>
                                    <div class="p-5">
                                        <h6 style="font-weight: bold;">
                                            จำแนกเป็น
                                        </h6>
                                        <div>
                                            <span class="badge badge-primary"
                                                style="background-color: #1abc9c;width:20px;">
                                                &nbsp;
                                            </span>
                                            Overdose
                                            <span class="ml-5">
                                                {{ p.overdose | number : '1.2-2' }}%
                                            </span>
                                        </div>
                                        <div>
                                            <span class="badge badge-primary"
                                                style="background-color: #FF1b9c;width:20px;">
                                                &nbsp;
                                            </span>
                                            Gelato
                                            <span class="ml-5 pl-3">
                                                {{ p.gelato | number : '1.2-2' }}%
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" *ngIf="data.datasets.length>0">
                        <div class="card-header">
                            <h3 class="card-title" style="font-weight: bold;">รายการสั่งซื้อ</h3>

                            <div class="card-tools py-2 mt-1">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-wrench"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">Something else here</a>
                                        <a class="dropdown-divider"></a>
                                        <a href="#" class="dropdown-item">Separated link</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>เดือน</th>
                                        <th>จำนวนเงิน (บาท)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>มกราคม - มีนาคม</td>
                                        <td class="text-right">{{ quatar[0] | currency : 'THB' : 'symbol-narrow' : '1.2-2' }}</td>
                                    </tr>
                                    <tr>
                                        <td>เมษายน - มิถุนายน</td>
                                        <td class="text-right">{{ quatar[1] | currency : 'THB' : 'symbol-narrow' : '1.2-2' }}</td>
                                    </tr>
                                    <tr>
                                        <td>กรกฎาคม - กันยายน</td>
                                        <td class="text-right">{{ quatar[2] | currency : 'THB' : 'symbol-narrow' : '1.2-2' }}</td>
                                    </tr>
                                    <tr>
                                        <td>ตุลาคม - ธันวาคม</td>
                                        <td class="text-right">{{ quatar[3] | currency : 'THB' : 'symbol-narrow' : '1.2-2' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
    </div>
</app-auth-content>