<div style="padding:30px;">
    <img src="./assets/img/logo2.png" style="max-height: 60px;" alt="">
    <!-- <h5 class="bold">Snowmilk Gelato ไอศกรีมโอมเมด</h5> -->
    <p class="m-0">421 ซอยร่วมสุข 4/18 ตำบลบ้านใหม่</p>
    <p class="m-0">อำเภอเมืองปทุมธานี ปทุมธานี 12000</p>
    <p>094-442-8897</p>
</div>
<div style="width:500px;margin-top: 90px;" class="ml-auto">
    <h5 class="bold">
        คุณ{{ data.name }} 
    </h5>
    <p class="m-0">
        {{ data.addr }} {{ data.prov=='กรุงเทพมหานคร'?'แขวง' + data.subdis : 'ตำบล' + data.subdis }}
    </p>
    <p class="m-0">
        {{ data.prov=='กรุงเทพมหานคร'?'เขต' + data.dis: 'อำเภอ' + data.dis  }} {{ data.prov=='กรุงเทพมหานคร'?data.prov:'จังหวัด'+data.prov }}
    </p>
    <p class="m-0">
        {{ data.post }}
    </p>
</div>
<button *ngIf="view" class="btn btn-success" (click)="onPrint()">
    สั่งพิมพ์
</button>